/* Start Var */
:root {
  --main-color: #116d6e;
  --bg-body: #ffff;
  --c-color:#191c29;
  --bg-header: #eee;
  --main-duration: .3s;
  --border-radiues:10px;
  --gray-color:rgba(32, 31, 31, 0.6);
}
:root#dark {
  --bg-body: #191c29;
  --bg-header: #2c303e;
  /* --bg-body: #121212;
  --bg-header: #373636; */
  --c-color:#c0dcda;
  --gray-color:rgba(245, 245, 245, 0.6);
}
/* End Var */
/* Start Components */
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}
.c-white-hover:hover {
  color: var(--c-color) !important;
}
.text-light {
  color: #fff !important;
}
.c-black {
  color: #000 !important;
}
.c-gray {
  color: var(--gray-color);
}
.bg-white {
  color: fff !important;
}
.bg-main {
  background-color: var(--main-color);
}
.mix-diffrence {
  mix-blend-mode: difference;
}
.pointer {
  cursor: pointer;
}
.t-duration {
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.obj-cover {
  object-fit: cover;
}
.obj-contain {
  object-fit: contain;
}
.gap-10 {
  gap: 10px;
}
.rounded-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.fs-13 {
  font-size: 13px;
}
.lh-17 {
  line-height: 1.7;
}
.section-padding-top {
  padding-top: 70px;
}
.section-padding-bottom {
  padding-bottom: 70px;
}
.section-title {
  padding: 7px 20px 7px 7px;
}
.section-title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: var(--main-color);
  transform: translateX(65%) skewX(-30deg);
  -webkit-transform: translateX(65%) skewX(-30deg);
  -moz-transform: translateX(65%) skewX(-30deg);
  -ms-transform: translateX(65%) skewX(-30deg);
  -o-transform: translateX(65%) skewX(-30deg);
}
.image-add i {
  top: 4px;
  right: 4px;
  border: 2px solid #fff;
  background-color: #fff;
  opacity: 0;
}
.image-add:hover i {
  opacity: 1;
}
/* End Components */
/* Start Global Ruls */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-body);
  color: var(--c-color);
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
a {
  display: block;
  text-decoration: none;
  width: fit-content;
  transition: var(--main-duration);
}
a:hover {
  color: inherit;
}
input {
  transition: var(--main-duration);
  background-color: var(--bg-body) !important;
  border: none !important;
  color: var(--c-color) !important;
}
input:focus {
  box-shadow: none !important;
}
::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}
::-webkit-scrollbar-track {
  background-color: #10181f
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--main-color) 70%, #191919);
}
::-webkit-scrollbar-corner {
  display: none;
}
/* End Global Ruls */
/* Start Header */
header {
  background-color: var(--bg-header);
  border-bottom: 2px solid var(--bg-header);
}
header .toggle-menu img,
header .logo-brand img {
  width: 50px;
}
.prograss-header {
  height: 10px;
  background-color: var(--bg-body);
}
.prograss-header .background {
  width: 0px;
}
@media (min-width:768px) {
  header .links {
    height: auto !important;
    transform: translateX(-25px);
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
  }
}
@media (max-width:767px) {
  header .links {
    flex-basis: 100%;
    flex-direction: column;
  }
  header .links.show {
    height: 170px !important;
  }
}
header .links .search input {
  width:240px
}
/* End Header */
/* Start Landing */
.landing {
  margin-top: 77px;
}
.landing .contents {
  height: 570px;
}
.landing .content {
  position: absolute;
  z-index: -1000000;
  opacity: 0;
  translate: -30px;
  height: 0px;
}
.landing .content.active {
  opacity: 1;
  z-index: unset;
  translate: 0 0;
  height: unset;
  height: 100%;
}
.landing .card-landing {
  max-width: 500px;
}
.landing .card-landing img {
  width: 200px;
}
.landing .card-landing p:first-of-type {
  opacity: .9;
  white-space: nowrap;
}
.landing .btn-land {
  height: 50px;
  width: 150px;
}
.landing .wish:hover {
  background: rgb(255 255 255 / 20%);
}
.landing .content-items .box.active,
.landing .content-items .box:hover {
  background-color: var(--bg-header);
}
@media (min-width: 576px) and (max-width:992px) {
  .landing .content-items .box {
    width: calc(50% - 10px) !important;
  }
}
.landing .content-items .box img {
  width: 55px;
  height: 70px;
}
/* End Landing */
/* Start Trending */
.card-magic{
  height: 400px;
  width: 251px;
  perspective: 900px;
}
@media (min-width:767px) {
  .card-magic:hover .wrapper {
    box-shadow: 2px 35px 32px -8px rgb(0 0 0 / 75%);
    transform: rotateX(25deg);
    -webkit-transform: rotateX(25deg);
    -moz-transform: rotateX(25deg);
    -ms-transform: rotateX(25deg);
    -o-transform: rotateX(25deg);
  }
}
.card-magic .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--main-duration);
  opacity: 0;
  background-image: linear-gradient(180deg, rgba(12, 13, 19) 10%, rgba(12, 13, 19, 0.5) 15%, transparent 20%, transparent 80%, rgba(12, 13, 19, 0.5) 90%, rgba(12, 13, 19) 100%);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
@media (min-width:767px) {
  .card-magic:hover .wrapper::before {
    opacity: 1;
  }
}
.card-magic .title {
  position: absolute;
  width: 200px;
  max-height: 100px;
  bottom: 10px;
  transition: all .5s;
  z-index: 5;
}
@media (min-width:767px) {
  .card-magic:hover .title {
    transform: translate3d(-50%, -30px, 100px) rotateX(-25deg) !important;
    -webkit-transform: translate3d(-50%, -30px, 100px) rotateX(-25deg) !important;
    -moz-transform: translate3d(-50%, -30px, 100px) rotateX(-25deg) !important;
    -ms-transform: translate3d(-50%, -30px, 100px) rotateX(-25deg) !important;
    -o-transform: translate3d(-50%, -30px, 100px) rotateX(-25deg) !important;
  }
}
.card-magic .charcter {
  opacity: 0;
}
@media (min-width:767px) {
  .card-magic:hover .charcter {
    opacity: 1;
    -webkit-box-reflect: below -60px linear-gradient(rgba(0, 0, 0, 0) 60%, rgb(0 0 0 / 40%) 50.5%);
    transform: translate3d(-50%, -60px, 50px) rotateX(-25deg) !important;
    -webkit-transform: translate3d(-50%, -60px, 50px) rotateX(-25deg) !important;
    -moz-transform: translate3d(-50%, -60px, 50px) rotateX(-25deg) !important;
    -ms-transform: translate3d(-50%, -60px, 50px) rotateX(-25deg) !important;
    -o-transform: translate3d(-50%, -60px, 50px) rotateX(-25deg) !important;
  }
}
/* End Trending */
/* Start Gallary */
.buttons-carousel {
  top: 40%;
  width: 70%;
}
.buttons-carousel button {
  height: 70px;
  width: 70px;
  clip-path: polygon(0% 0%, 100% 50%, 0 100%, 5px calc(100% - 15px), calc(100% - 20px) 50%, 5px 15px);
}
.buttons-carousel button.prev {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%, calc(100% - 5px) calc(100% - 15px), calc(50% - 12px) 50%, calc(100% - 5px) 15px);
}
button.hidden {
  opacity: .5;
  cursor: default;
}
.carousel-parent li:not(.active):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: 1000;
  animation: hide .8s alternate;
  -webkit-animation: hide .8s alternate;
}
.carousel-parent li .show-img {
  display: none;
}
.carousel-parent li.active .show-img {
  display: unset;
  z-index: 10000;
}
@keyframes hide {
  0% {
    width: 0px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}
.carousel-parent li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End Gallary */
/* Start Mots Poupler */
.most-poupler .main-part {
  height: 720px;
}
@media (max-width:768px) {
  .most-poupler .main-part {
    height: 400px;
  }
}
.crad-game img {
  height: 200px;
  max-height: 300px;
}
/* End Mots Poupler */
/* Start Most Charcters */
.most-charcter-poupler .charcters .box {
  background-color: var(--bg-header);
}
@media (min-width:768px) {
  .most-charcter-poupler .charcters .box .image {
    min-width: 30% !important;
    width: 30% !important;
  }
}
/* End Most Charcters */
/* Start Foooter */
footer .container {
  border-top: 1px solid var(--c-color);
}
footer .logo-brand img {
  width: 50px;
}
footer .social img {
  width: 40px;
}
/* End Foooter */
/* open img */
.open-img {
  width: 0;
  height: 0;
  left: 50%;
  top: calc(50% + 12vh);
  translate: -50% calc(-50% - 6vh);
  background-color: var(--bg-header);
}
.open-img.show {
  width: 80vw;
  height: 88vh;
  box-shadow: 200px 0 0 0 rgb(0 0 0 / 70%), -200px 0 0 rgb(0 0 0 / 70%);
  transform: unset;
  -webkit-transform: unset;
}
@media (max-width:768px) {
  .open-img.show {
    width: 100vw;
  }
}
.open-img img {
  width:100%;
  height: 100%;
  object-fit: cover;
}
/* open img */
/* Scroll To Top */
.scroll-to-top {
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  opacity: 0;
  display: none;
  z-index: -10000000;
}
.scroll-to-top.show {
  opacity: 1;
  display: unset;
  z-index: 1222;
}
.scroll-to-top:hover {
  opacity: .8;
}
/* Scroll To Top */